@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* custom fonts */
@font-face {
    font-family: 'Miama Regular';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Miama Regular'), url('../fonts/Miama-Regular.woff') format('woff');
    }

    @font-face {
    font-family: 'Miama';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Miama'), url('../fonts/Miama.woff') format('woff');
    }
html{
    scroll-behavior: smooth;
}
:root{
    --main-color: #E6533C;
    --secondary-color: #FFFFFF80;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

nav{
    background: linear-gradient(180deg, rgb(17, 17, 17), rgb(32 32 32 / 84%) 100%);
}
header{
    background: linear-gradient(0deg, rgb(1, 1, 1), rgb(32 32 32 / 84%) 100%);
}
    /* navbar section */
nav .nav-container{
    max-width: 1440px;
    margin: auto;
    padding: 50px 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
nav .logo{
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    color: var(--main-color);
}
nav ul.menu-list{
    display: flex;
    gap: 2.9rem;
    padding: 13px 4px;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
nav ul.menu-bars{
    display: none;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 8px 20px;
    border-radius: 24px;
}

nav ul li a.active{
    background-color: var(--main-color);
    font-weight: 600;
}
/* header section */
.header-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 190px;
}
.header-text-content{
    max-width: 520px;
    & h2{
        font-size: 78px;
        line-height: 120%;
        font-weight: 900;
        color: #fff;
    }
    & .shape{
        font-family: 'Miama Regular';
        font-weight: 400;
        

    }
    & p{
        color: #FFFFFF80;
        margin: 28px 0;
    }
}
header .btn-container{
    width: 100%;
    display: flex;
    gap: 47px;

    & .btn{
        padding: 16px 40px;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        border-radius: 42px;
        cursor: pointer;
    }
    & .btn:nth-child(1){
        background-color: var(--main-color);
    }
    & .btn:nth-child(2){
        background-color: transparent;
    }
}
header .img-container{
    position: relative;
    max-width: 350px;
    & img{
        width: 100%;
    }
    & .img-text-box{
        position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        background: rgba(48, 48, 48, 0.54);
    }
    & .circle{
        width: 40px;
        height: 40px;
        background: var(--main-color);
        border-radius: 50%;
    }
    & div.img-text-box:nth-child(odd){
        width: 193px;
        top: 125px;
        right: -74px;
        padding: 1rem;
        & h2 {
            font-size: 40px;
            font-weight: 900;
            color: #fff;
        }
        & p {
            font-size: 13px;
            font-weight: 400;
            color: #FFFFFFA6;
        }
    }
    & div.img-text-box:nth-child(even){
        width: 206px;
        padding: 23px;
        bottom: 62px;
        left: -111px;
        display: flex;
        align-items: center;
        gap: 12px;
    }
    & h2 {
        font-size: 24px;
        font-weight: 900;
        color: #fff;
    }
    & p {
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFFA6;
    }
}

main{
    background: #000;
    color: #fff;
}
/* Habits section */
main .habit-container{
    max-width: 1060px;
    margin: 0 auto;
    padding: 100px 0;
    & h2{
        font-size: 48px;
        font-weight: 900;
        text-align: center;
    }
    & p{
        max-width: 671px;
        margin: 14px auto;
        text-align: center;
        color: var(--secondary-color);
    }
    & .habit-content{
        display: flex;
        /* grid-template-columns: repeat(4, 231px); */
        gap: 40px;
        text-align: center;
        margin-top: 58px;
        & figure img{
            /* width: 231px; */
            border-radius: 50%;
        }
        & figure h3{
            margin-top: 30px;
            font-size: 18px;
            font-weight: 600;
        }
        & figure p{
            font-size: 14px;
            font-weight: 400;
            color: var(--secondary-color);
        }
    }
}
/* Run an Extra section */
main .run-container{
    max-width: 1060px;
    margin: 0 auto 100px;
    background: #222222;
    padding: 32px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .run-text-content{
       max-width: 443px;
    }
    & .run-text-content h2{
        font-size: 48px;
        font-weight: 900;
    }
    & .run-text-content p{
        font-size: 14px;
        font-weight: 400;
        color: var(--secondary-color);
        margin: 14px 0 34px;
    }
    & .btn{
        width: 224px;
        padding: 16px 40px;
        border-radius: 42px;
        background: var(--main-color);
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
    }
     & figure{
        width: 336px;
        height: 312px;
    }
    &  .run-img{
        background: url('../assets/run.jpg');
        width: 100%;
        height: 100%;
        border-radius: 18px;
        background-position: center;
        background-size: cover;
     }
}
/* BMI section */
.bmi-section{
    padding: 0 0 88px;

}
.bmi-section .bmi-text-heading{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 390px;

    & h2{
        font-size: 48px;
        font-weight: 900;
    }
    & p{
        font-size: 14px;
        font-weight: 400;
    }
}

.bmi-section .bmi-clc-section{
    width: 100%;
    background: #222222;
    margin-top: 88px;
    & .bmi-clc-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* gap: 175px; */
        gap: 17px;
        max-width: 1440px;
        /* padding: 50px 190px; */
        padding: 50px 80px;
        margin: 0 auto;

        & .bmi-chart table{
            margin-top: 52px;
            width: 310px;
            border-collapse: collapse;
            font-size: 14px;
            border: 1px solid #FFFFFF1A;
            color: var(--secondary-color);
        }
        & .bmi-chart table td, th{
            padding: 1rem;
            
        }
        & .bmi-chart table th{
            text-align: center;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
        }
        & .bmi-calculate{
            display: flex;
            flex-direction: column;
            gap: 34px;
            & .bmi-calculate-text{
                & h2{
                    font-size: 28px;
                    font-weight: 900;
                    color: #fff;
                }
                & p{
                    font-size: 14px;
                    font-weight: 400;
                    margin: 14px 0;
                    color: var(--secondary-color);
                }
            }
            
             form{
                width: 100%;
                & .input-box-content{
                    display: flex;
                }
             }
            & form .input-box, .input-box-big{
                width: 282px;
                padding: 12px 40px;
                margin: 6px;
                border-radius: 8px;
                background: rgba(255, 255, 255, 0.1);
                outline: none;
                border: none;
                font-size: 16px;
                font-weight: 400;
                color: #FFFFFF99;

            }
            & form .gender{
                max-width: 587px;
            }
            & form .input-box-big{
                width: 98%;
                padding: 12px 40px;
            }
            & form .btn{
                width: 224px;
                padding: 16px 40px;
                margin-top: 34px;
                border-radius: 42px;
                background: var(--main-color);
                font-size: 18px;
                font-weight: 600;
                color: #fff;
                cursor: pointer;
            }
            & form select option{
                background: #000000b9;
            }
        }
    }

}

/* Team section */
.team-section, .plan-section{
    max-width: 1440px;
    padding: 0 190px 88px;
    margin: 0 auto;

    & .team-text-content{
        max-width: 671px;
        margin: 0 auto 58px;
        text-align: center;
    }
    & .team-text-content h2{
        font-size: 48px;
        font-weight: 900;
        color: #fff;
    }
    & .team-text-content p{
        font-size: 14px;
        font-weight: 400;
        color: var(--secondary-color);
    }
    & .team-img-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    & .team-img-container figure{
        
        max-width: 326px;
        height: 272px;
        position: relative;
        & .team-title{
            position: absolute;
            bottom: 1rem;
            left: 1rem;
        }
        & h3{
            font-size: 24px;
        }
        & p{
            color: var(--secondary-color);
        }
    }
    & .team-img-container figure img{
        width: 100%;
        height: 100%;
        border-radius: 18px;
        object-fit: cover
    }
}

/*  */

.plan-section{
    & .plan-heading{
        text-align: center;
        margin: 20px 0;
        padding: 0 0 22px;
        font-size:32px;
        font-weight: 800;
    }
    & .card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 2rem;

        & .card-content{
            background: #1A1A1A;
            padding: 3rem;
            border-radius: 6px;

            & h2{
                text-align: center;
                margin-bottom: 22px;
                padding: 16px 30px;
                border-radius: 6px;
                background: linear-gradient(to right, #eb3c5a, #f67831);
            }
            & .card-details{
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: center;
                & span{
                    font-size: 38px;
                    font-weight: 800;
                }
                & p{
                    color: var(--secondary-color);
                }
                & .btn{
                        width: 224px;
                        padding: 16px 40px;
                        border-radius: 42px;
                        background: var(--main-color);
                        font-size: 18px;
                        font-weight: 600;
                        color: #fff;
                        cursor: pointer;
                }
            }
        }

    }
}

/* footer section */
footer{
    background: #1A1A1A;
    & .footer-container{
        max-width: 1440px;
        padding: 88px 190px 35px;
        margin: 0 auto;
        & .footer-text-content{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 100px;
            margin-bottom: 79px;
        }
        & .footer-logo{
            max-width: 430px;
        }
        & .footer-logo h1{
            color: var(--main-color);
            font-size: 70px;
            font-weight: 800;
            font-style: italic;
        }
        & .footer-logo p{
            color: var(--secondary-color);
            font-size: 14px;
            font-weight: 400;
        }
        & ul li{
            list-style: none;
        }
        & ul li a {
            text-decoration: none;
            color: var(--secondary-color);
            font-size: 23px;
            font-weight: 400;
        }
        & ul li:nth-child(even){
            margin: 20px 0;
        }
        & .footer-services h2{
            font-size: 32px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 39px;
        }
    }
}