@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* custom fonts */
@font-face {
    font-family: 'Miama Regular';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Miama Regular'), url('../fonts/Miama-Regular.woff') format('woff');
    }

    @font-face {
    font-family: 'Miama';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Miama'), url('../fonts/Miama.woff') format('woff');
    }
:root{
    --main-color: #E6533C;
    --secondary-color: #FFFFFF80;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}
/* nav, header{
    background: #151515f6;
} */
nav{
    background: linear-gradient(180deg, rgb(17, 17, 17), rgb(32 32 32 / 84%) 100%);
}
header{
    background: linear-gradient(0deg, rgb(1, 1, 1), rgb(32 32 32 / 84%) 100%);
}
    /* navbar section */
nav{
    
    /* background: linear-gradient(180deg, rgb(17,17,17), rgba(119,119,119, 0) 100%); */
    /* background: #151515; */
}
nav .nav-container{
    max-width: 1440px;
    margin: auto;
    padding: 50px 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
nav .logo{
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    color: var(--main-color);
}
nav ul{
    display: flex;
    gap: 2.9rem;
    padding: 13px 4px;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 8px 20px;
    border-radius: 24px;
}

nav ul li a.active{
    background-color: var(--main-color);
    font-weight: 600;
}
/* header section */
.header-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 190px;
}
.header-text-content{
    max-width: 520px;
    & h2{
        font-size: 78px;
        line-height: 120%;
        font-weight: 900;
        color: #fff;
    }
    & .shape{
        font-family: 'Miama Regular';
        font-weight: 400;
        

    }
    & p{
        color: #FFFFFF80;
        margin: 28px 0;
    }
}
header .btn-container{
    display: flex;
    gap: 47px;

    & .btn{
        padding: 16px 40px;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        border-radius: 42px;
        cursor: pointer;
    }
    & .btn:nth-child(1){
        background-color: var(--main-color);
    }
    & .btn:nth-child(2){
        background-color: transparent;
    }
}
header .img-container{
    position: relative;

    & .img-text-box{
        position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        background: rgba(48, 48, 48, 0.54);
    }
    & .circle{
        width: 40px;
        height: 40px;
        background: var(--main-color);
        border-radius: 50%;
    }
    & div.img-text-box:nth-child(odd){
        width: 193px;
        top: 125px;
        right: -74px;
        padding: 1rem;
        & h2 {
            font-size: 40px;
            font-weight: 900;
            color: #fff;
        }
        & p {
            font-size: 13px;
            font-weight: 400;
            color: #FFFFFFA6;
        }
    }
    & div.img-text-box:nth-child(even){
        width: 206px;
        padding: 23px;
        bottom: 62px;
        left: -111px;
        display: flex;
        align-items: center;
        gap: 12px;
    }
    & h2 {
        font-size: 24px;
        font-weight: 900;
        color: #fff;
    }
    & p {
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFFA6;
    }
}
main{
    background: #000;
    color: #fff;
}
/* Habits section */
main .habit-container{
    max-width: 1060px;
    margin: 0 auto;
    padding: 100px 0;
    & h2{
        font-size: 48px;
        font-weight: 900;
        text-align: center;
    }
    & p{
        max-width: 671px;
        margin: 14px auto;
        text-align: center;
        color: var(--secondary-color);
    }
    & .habit-content{
        display: grid;
        grid-template-columns: repeat(4, 231px);
        gap: 40px;
        text-align: center;
        margin-top: 58px;
        & figure img{
            /* width: 231px; */
            border-radius: 50%;
        }
        & figure h3{
            margin-top: 30px;
            font-size: 18px;
            font-weight: 600;
        }
        & figure p{
            font-size: 14px;
            font-weight: 400;
            color: var(--secondary-color);
        }
    }
}
/* Run an Extra section */
main .run-container{
    max-width: 1060px;
    margin: 0 auto;
    padding: 100px 0;
    background: #222222;
    padding: 32px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .run-text-content{
       max-width: 443px;
    }
    & .run-text-content h2{
        font-size: 48px;
        font-weight: 900;
    }
    & .run-text-content p{
        font-size: 14px;
        font-weight: 400;
        color: var(--secondary-color);
        margin: 14px 0 34px;
    }
    & .btn{
        width: 224px;
        padding: 16px 40px;
        border-radius: 42px;
        background: var(--main-color);
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
    }
     & figure{
        width: 336px;
        height: 312px;
    }
    &  .run-img{
        background: url('../assets/run.jpg');
        width: 100%;
        height: 100%;
        border-radius: 18px;
        background-position: center;
        background-size: cover;
     }
}